{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1>Your Cart</h1>
<div class="cart">
  {% if cart %}
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for id, item in cart.items %}
      <tr>
        <td>
          {{ item.name }}
          <img src="{{ item.img }}" class="card-img-top" alt="{{ item.name }}" style="max-width: 90px; height: auto;">
        </td>
        <td>
          {% if item.isOnSale %}
          <span style="color: red;">$
            {{ item.salePrice }}</span>
          {% else %}
          $
          {{ item.price }}
          {% endif %}
        </td>
        <td>
          <form method="post" action="{% url 'updateCart' id %}">
            {% csrf_token %}
            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 60px;">
            <button type="submit" class="btn btn-primary" style="background-color: #6c9aa2; border-color: #2980b9;">Update</button>
          </form>
        </td>
        <td>$
          {{ item.total }}
        </td>
        <td>
          <form method="post" action="{% url 'deleteFromCart' id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="background-color: transparent; border: none; padding: 0; font-size: 50px; color: #99886c; display: inline-block; line-height: 1;">×</button>            
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="cart-summary">
    <p><strong>Total: </strong>$
      {{ total|floatformat:2 }}
    </p>
  </div>

  <!-- Checkout Form -->
  <form method="post" action="{% url 'clearCart' %}">
    {% csrf_token %}
    <div class="checkout">
      <button type="submit" class="btn btn-success">Checkout</button>
    </div>
  </form>

  {% else %}
  <p>Your cart is empty!</p>
  {% endif %}
</div>
{% endblock %}